*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --mainpink:#FF2B8B;
    --secgreen:#08D15F;
    --fontcolorsubdetails:#8A8FB9;
    --fontHeaderblue:#151875;
    --fontNavblue:#0D0E43;
    --baseGap:30px;
}
.container{
    margin-left: 270px;
    margin-right: 270px;
}
.card{
   width: calc((100% - 3 * var(--baseGap)) / 4);
}
.image-container{
    background-color: #F6F7FB;
}
.just-center{
    justify-content: center;
}
input{
    outline: none;
}

.text-center{
    text-align: center;
}
.btn{
    border:none;
    outline: none;
    color: white;
}
.fliblue{
    color: blue;
}
.line{
    text-decoration: line-through;
}
.line-under{
    text-decoration: underline;
}
.fnavblue{
    color: var(--fontNavblue);
}
.fmainpink{
    color: var(--mainpink);
}
.fblue{
color: var(--fontHeaderblue);
}
.fred{
    color:#FB2448;
}
.bblue{
    background-color: var(--fontNavblue);
}
.bmainpink{
    background-color: var(--mainpink);
}
.bsecgreen{
    background-color: var(--secgreen);
}
.wrap{
    flex-wrap: wrap;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--baseGap);
}
.d-flex{
    display: flex;
}
.just-spacebetween{
    justify-content:space-between;
}
.just-end{
    justify-content: flex-end;
}
.ali-center{
    align-items: center;
}
.ali-start{
align-items: flex-start;
}
.ali-end{
    align-items: flex-end;
}

.baseGap{
    gap: var(--baseGap);
}

.col-direction{
    flex-direction: column;
}
.gap-15{
    gap: 15px;
}
.gap-100{
    gap: 100px;
}


.gap-50{
    gap: 50px;
}


a{
text-decoration: none;
}
ul{
    list-style-type: none;
}












