.header_section{
    padding-top: 50px;
}
.search .btn{
    padding: 8px 13px;
}
.search input {
    border: solid 3px #E7E6EF;
    width: 250px;
}
.hero_section{
    margin-top: 40px;
    background-color: #F2F0FF;
    padding-left: 270px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    position:relative;
}
.hero_section .image-container{
    width: 700px;
    height: 700px;
    background-color: #F2F0FF;
    object-fit: contain;
}
.hero_section .btn{
    padding: 16px 40px;
}
.hero-lamp{
    position: absolute;
    left: -30px;
    top: 0px;

}




.products_featured{
    padding-top:130px;
}
.products_featured .card{
    padding-bottom: 17px;
    transition: background-color 0.8s ease;
}
.products_featured .card:hover{
    background-color:#2F1AC4;
}
.products_featured .image-container{
    padding: 45px 45px 30px 45px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.products_featured img{
width: 178px;
height: 178px;
}
.products_featured .btn{
    padding: 8px 13px;
    border-radius: 2px;
}

.products_featured .row  .baseGap{
    gap: 15px;
}
.products_featured .row .btnc{
    width: 14px;
    height: 4px;
    outline: none;
    border: none;
}
.products_featured .actions-logos{
    opacity: 0;
    position: absolute;
    left:11px;
    top:11px;
    transition: opacity 0.5s ease;
}


.products_featured .card:hover .actions-logos{
    opacity: 1;
}


.products_featured .action-button{
     opacity: 0;
    position: absolute;
    align-self: flex-end;
    bottom:5px;
    transition: opacity 0.5s ease;
}

.products_featured .card:hover .action-button{
    opacity: 1;
}
.products_featured .card:hover .fmainpink{
    transition-duration: 0.5s;
    color: white;
}
.products_featured .card:hover .fblue{
    transition-duration: 0.5s;
    color: white;
}
.products_featured .card:hover .bblue{
    transition-duration: 0.5s;
    background-color: white;
}









.products_latest{
    padding-top: 130px;
}
.products_latest img{
width: 200px;
height: 200px;
}
.products_latest .card{
    padding-bottom: 17px;
     width: calc((100% - 2 * var(--baseGap)) / 3);
}
.products_latest .image-container{
     padding: 45px 45px 30px 45px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.8s ease;
}

.products_latest .actions-logos{
    opacity: 0;
    position: absolute;
    left: 24px;
    bottom: 30px;
    transition: opacity 0.5s ease;
}
.products_latest .actions-logos img{
    width: 70px;
    height: 50px;
}


.products_latest .card:hover .actions-logos{
    opacity: 1;
}
.products_latest .card:hover .image-container{
    background-color: white;
}










.offer{
padding-top: 50px;
}








